<include file="Index/header" />

<body>
<div id="wrapper">

  <include file="Index/nav"/>

  <div id="page-wrapper">

    <div class="container-fluid" >

      <!-- Page Heading -->
      <div class="row">
        <div class="col-lg-12">

          <ol class="breadcrumb">
            <li>
              <i class="fa fa-dashboard"></i>  <a href="/Admin/Article/index">文章管理</a>
            </li>
            <li class="active">
              <i class="fa fa-table"></i>文章列表
            </li>
          </ol>
        </div>
      </div>
      <!-- /.row -->
      <div >
        <button  id="article-add" type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span> 添加</button>
      </div>

      <br>

      <div class="row">
        <form action="/Admin/Article/index" method="get">
          <div class="col-md-3">
            <div class="input-group">
              <span class="input-group-addon">栏目</span>
              <select class="form-control" name="catId" title="catSelect">
                <option value="0" >请选择栏目</option>
                <volist name="homeMenus" id="vo">
                    <option value="{$vo.menu_id}" <eq name="vo.menu_id" value="$cat_id">selected</eq>>{$vo.name}</option>
                </volist>
              </select>
            </div>
          </div>
          <input type="hidden" name="c" value="content"/>
          <input type="hidden" name="a" value="index"/>
          <div class="col-md-3">
            <div class="input-group">
              <input class="form-control" name="title" type="text" value="{$title}" placeholder="文章标题" />
                <span class="input-group-btn">
                  <button id="sub_data" type="submit" class="btn btn-primary"><i class="glyphicon glyphicon-search"></i></button>
                </span>
            </div>
          </div>
        </form>
      </div>
      <br>
      <div class="row">
        <div class="col-lg-6">
          <div class="table-responsive">
            <form id="article-list-form">
              <table class="table table-bordered table-hover article-table">
                <tr>
                  <th><input type="checkbox" title="选择框"></th>
                  <th>排序</th>
                  <th>id</th>
                  <th>标题</th>
                  <th>栏目</th>
                  <th>来源</th>
                  <th>封面图</th>
                  <th>创建时间</th>
                  <th>更新时间</th>
                  <th>状态</th>
                  <th>操作</th>
                </tr>
                  <volist name="pageList" id="vo">
                    <tr>
                      <td><input type="checkbox" name="push-article" value="{$vo.article_id}" title="选择框"></td>
                      <td><input size="4" type="text" name="{$vo.article_id}" value="{$vo.list_id}" title="排序id输入框"></td>
                      <td>{$vo.article_id}</td>
                      <td>{$vo.title}</td>
                      <td>{$vo.cat_id|getCatName=$homeMenus,###}</td>
                      <td>{$vo.source}</td>
                      <td>{$vo.thumb|checkThumb}</td>
                      <td>{$vo.create_time|checkTime}</td>
                      <td>{$vo.update_time|checkTime}</td>
                      <td>
                        {$vo.status|getStatus}
                      </td>
                      <td>
                        <!-- 编辑按钮 -->
                        <a href="{:U('Admin/Article/edit?id='.$vo['article_id'])}" title="编辑" id="article-edit" attr-id=""><span class="glyphicon glyphicon-edit" ></span></a>
                        <!-- 开启/关闭按钮 -->
                        <a href="javascript:void(0)" title="开启/关闭" id="article-up-down" attr-id="{$vo['article_id']}" attr-status="{$vo.status}"><span class="glyphicon glyphicon-off"></span></a>
                        <!-- 删除按钮 -->
                        <a href="javascript:void(0)" id="article-delete" attr-id="{$vo['article_id']}"><span class="glyphicon glyphicon-remove-circle"></span></a>
                        <!-- 预览入口 -->
                        <a href="{:U('Home/Detail/view?id='.$vo['article_id'])}" title="预览"><span class="glyphicon glyphicon-eye-open"></span></a>
                      </td>
                    </tr>
                  </volist>
              </table>
            </form>
          </div>
        </div>
      </div>

      <!-- /.row -->
      </div>

    <!-- 排序按钮 -->
    <div class="row">
      <div class="col-lg-6">
        <div class="col-md-3">
          <button type="button" id="article-list" class="btn btn-primary"><span class="glyphicon glyphicon-sort"></span> 排序</button>
        </div>
      </div>
    </div>

    <br>

    <!-- 推荐位下拉列表与推送按钮 -->
    <div class="row">
      <div class="col-lg-6">
        <div class="col-md-3">
          <div class="input-group">
            <span class="input-group-addon">推荐位</span>
            <!-- 推荐位下拉列表 -->
            <select class="form-control" id="pos_id" title="推荐位下拉列表">
              <option value="null" >请选择推荐位</option>
              <volist name="positions" id="position">
                <option value="{$position.pos_id}">{$position.pos_name}</option>
              </volist>
            </select>
          </div>
        </div>
        <!-- 推送按钮 -->
        <button type="button" id="article-push" class="btn btn-primary"><span class="glyphicon glyphicon-log-in"></span> 推送</button>
        </div>
      </div>

    <br>

    <!-- 分页导航 -->
    <div class="row">
      <nav class="page">
        {$pageNav}
      </nav>
    </div>

    <!-- /.container-fluid -->

  </div>
  <!-- /#page-wrapper -->

</div>
<!-- /#wrapper -->

<include file="Index/footer" />