<!doctype html>
<html lang="zh-cn">
<head>
  <meta charset="UTF-8">
  <title>{$config['title']}</title>
  <meta name="keywords" content="{$config['keywords']}">
  <meta name="description" content="{$config['description']}">
  <link rel="icon" href="/Public/images/think.ico" type="image/x-icon">
  <link rel="icon" href="/Public/images/think.ico" type="image/x-icon">
  <link rel="stylesheet" href="/Public/css/bootstrap.min.css" type="text/css" />
  <link rel="stylesheet" href="/Public/css/home/main.css" type="text/css" />
  <link rel="stylesheet" href="/Public/css/admin/page.css">
  <script src="/Public/js/jquery.js"></script>
  <script src="/Public/js/bootstrap.min.js"></script>
</head>
<body>
<!-- 头部导航 -->

<include file="Index/nav" />

<!-- 主体 -->
<section>
  <div class="container">
    <div class="row">
      <div class="col-sm-9 col-md-9">
        <!-- 文章列表 -->
        <div class="news-detail">
          <h1>{$article['title']}</h1>
          {$content}
        </div>
      </div>

      <include file="Index/sidebar" />

    </div>
  </div>
</section>
</body>
</html>
